/********************BASIC SETUPS*****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color:#cecece;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom:1}
.clearfix:after{
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
h1{
    font-size: 200%;
     word-spacing: 2px;
    letter-spacing:1px;
}
h1,h2{
    
    font-weight: 300;
    text-transform: uppercase; 
}
h2{
    font-size: 130%;
    text-align: center;
}
h2:after{
    display: block;
    content: '.';
    height: 2px;
    width: 100px;
    background-color: green;
    margin:0 auto;
    margin-top: 20px;
}
.row{
    width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0px;
}

.main-nav img {
    float: left;
    width:120px;
    height: auto;
}

.navs {
    padding-top: 30px;
    list-style: none;
}
.navs li{
    display:inline-block;
    float: right;
    margin-right: 20px;
}
.navs li a:link,
.navs li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition:border-bottom 0.2s; 
}
.navs li a:hover,
.navs li a:active{
    border-bottom: 2px solid green;
}
.main-head {
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.78)),url(img/spotify-devices.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
   
}
header{
    color: #fff;
}
.heading {
    position: absolute;
    top: 150%;
    left: auto;
    padding-left:18%;
}

.heading p{
    font-size:70%;
    word-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 200px;
}



#whte-paragraph {
    color: #fff;
}

#whte-head {
    color:#fff;
}

.btn-full:link,
.btn-full:visited{
    background-color: green;
    
}
.btn-full:hover,
.btn-full:active{
    background-color: #166016;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: green;
    transition: color 0.2s, background-color 0.2s;  
}
.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
    background-color: #166016;
}



.box {
    padding: 2%;
    
}
.box p{
    line-height: 135%;
    font-size: 95%;
    font-weight: 300;
}
.box h3{
    font-size: 120%;
    font-weight: 300;
}
.icon-big {
    font-size: 50px;
    color: green;
}

.phto-ul {
    list-style: none;
   width: 100%;
}
.phto-ul li{
    display: block;
    width: 25%;
    float: left;
    background-color: #000;
}
.fig-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    opacity: 0.7;
}


.photo {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.2s;
}
.photo:hover{
    transform: scale(1.03);
}

.photoz {
    padding: 0;
}
.app-col{
    margin-bottom: 20px;
}
.app-col div {
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}


